.hero__slider .slick-prev,
.hero__slider .slick-next {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.hero__slider .slick-prev:before,
.hero__slider .slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  opacity: 1;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__slider .slick-next {
  right: 1px;
}
.hero__slider .slick-next:before {
  content: "\f105";
}

.hero__slider .slick-prev {
  left: 1px;
  z-index: 1;
}

.hero__slider .slick-prev:before {
  content: "\f104";
}

.hero__slider .hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}

.hero__slider .slider__container {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__slider .slider__container h1 {
  margin-bottom: 0;
  margin-top: 10px;
  color: #222222;
}
.hero__slider .slider__container h4 {
  font-weight: 700;
  letter-spacing: 0.4em;
  color: #777777;
  margin-bottom: 0;
}
.hero__slider .slider__container .btn-solid,
.hero__slider .slider__container .btn-outline {
  margin-top: 20px;
}
.hero__slider .slider__left .slider__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.hero__slider .p-right .slider__container {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.hero__slider .p-center .slider__container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero__slider:hover .slick-prev,
.hero__slider:hover .slick-next {
  opacity: 1;
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hero__slider:hover .slick-prev:before,
.hero__slider:hover .slick-next:before {
  opacity: 1;
}
.hero__slider:hover .slick-next {
  right: 100px;
}
.hero__slider:hover .slick-prev {
  left: 100px;
}

.hero__slider:hover .slick-prev,
.hero__slider:hover .slick-next {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}

@media (max-width: 1199px) {
  .hero__slider .hero {
    height: 70vh;
  }
  .hero__slider .slider__container {
    height: 70vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 50px;
  }
}

@media (max-width: 991px) {
  .hero__slider .hero {
    height: 65vh;
  }
  .hero__slider .slider__container {
    height: 65vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 36px;
  }
  .hero__slider .slider__container .btn-solid,
  .hero__slider .slider__container .btn-outline {
    margin-top: 17px;
  }
  .hero__slider:hover .slick-next {
    right: 90px;
  }
  .hero__slider:hover .slick-prev {
    left: 90px;
  }
}

@media (max-width: 767px) {
  .hero__slider .hero {
    height: 60vh;
  }
  .hero__slider .slider__container {
    height: 60vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 35px;
    margin-top: 5px;
  }
  .hero__slider .slider__container .btn-solid,
  .hero__slider .slider__container .btn-outline {
    margin-top: 10px;
    padding: 10px 25px;
  }
  .hero__slider:hover .slick-next {
    right: 80px;
  }
  .hero__slider:hover .slick-prev {
    left: 80px;
  }
}

@media (max-width: 767px) {
  .hero__slider .hero {
    height: 58vh;
  }
  .hero__slider .slider__container {
    height: 58vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 30px;
  }
  .hero__slider:hover .slick-next {
    right: 70px;
  }
  .hero__slider:hover .slick-prev {
    left: 70px;
  }
  .hero__slider:hover .slick-prev,
  .hero__slider:hover .slick-next {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
  }
}

@media (max-width: 577px) {
  .hero__slider .hero {
    height: 55vh;
  }
  .hero__slider .slider__container {
    height: 55vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 28px;
  }
  .hero__slider .slider__container h4 {
    letter-spacing: 0.1em;
  }
  .hero__slider .slider__container .btn-solid,
  .hero__slider .slider__container .btn-outline {
    margin-top: 5px;
  }
  .hero__slider:hover .slick-prev,
  .hero__slider:hover .slick-next {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .hero__slider:hover .slick-next {
    right: 60px;
  }
  .hero__slider:hover .slick-prev {
    left: 60px;
  }
}

@media (max-width: 360px) {
  .hero__slider .hero {
    height: 50vh;
  }
  .hero__slider .slider__container {
    height: 50vh;
  }
  .hero__slider .slider__container h1 {
    font-size: 25px;
  }
  .hero__slider .slider__container .btn-solid,
  .hero__slider .slider__container .btn-outline {
    margin-top: 8px;
    padding: 5px 15px;
  }
  .hero__slider:hover .slick-prev,
  .hero__slider:hover .slick-next {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hero__slider:hover .slick-next {
    right: 40px;
  }
  .hero__slider:hover .slick-prev {
    left: 40px;
  }
}
