@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700;900&display=swap");

:root {
  --text-primary: #0071df;
  --text-secondary: #f14705;
  --text-black: #253237;
  --text-white: #ffffff;
  --text-ternary: #f4f5f5;
  --text-default: #666666;
  --text-border: #ebebeb;
  --text-discount: #cf2929;
  --footer-bg: #393230;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--text-default);
  overflow-x: hidden;
  letter-spacing: 0.8px;
}

h1 {
  font-size: 60px;
  color: var(--text-black);
  font-weight: 700;
  text-transform: uppercase;
}

h1 span {
  font-size: 107px;
  font-weight: 700;
  color: var(--text-secondary);
}

h2 {
  font-size: 36px;
  color: var(--text-black);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-default);
  letter-spacing: 0.03em;
}

h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: var(var(--text-black));
  line-height: 24px;
  letter-spacing: 0.05em;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-default);
  line-height: 24px;
}

p {
  font-size: 14px;
  color: var(--text-default);
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
}

.btn-primary {
  background: #0071df;
  border-color: #0071df;
}

.btn-secondary {
  background: #f14705;
  border-color: #f14705;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-control {
  border-radius: 0;
}

.p-0 {
  padding: 0 !important;
}

/* Button CSS  */
button {
  cursor: pointer;
}

.btn {
  line-height: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-solid {
  padding: 13px 29px;
  color: #ffffff !important;
  letter-spacing: 0.05em;
  border: 2px solid var(--text-secondary);
  background-image: linear-gradient(
    30deg,
    var(--text-secondary) 50%,
    transparent 50%
  );
  background-size: 540px;
  background-repeat: no-repeat;
  background-position: 0;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.btn-solid:hover {
  background-position: 100%;
  color: #000000 !important;
  background-color: #ffffff;
}
.btn-solid.black-btn {
  background-image: linear-gradient(30deg, #222222 50%, transparent 50%);
  border: 2px solid #222222;
}
.btn-solid:focus {
  color: #ffffff;
}

.btn-outline {
  display: inline-block;
  padding: 13px 29px;
  letter-spacing: 0.05em;
  border: 2px solid var(--text-secondary);
  position: relative;
  color: #000000;
}
.btn-outline:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--text-secondary);
  z-index: -2;
}
.btn-outline:hover {
  color: #ffffff;
}
.btn-outline:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.btn-outline:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button.btn.btn-solid:active,
button.btn.btn-outline:active {
  background-image: linear-gradient(
    30deg,
    var(--text-secondary) 50%,
    transparent 50%
  );
  color: #ffffff;
  background: var(--text-secondary);
}

.btn-classic:hover {
  background-color: var(--text-secondary);
}

.btn-theme {
  background-color: var(--text-secondary);
  color: #ffffff;
}

/* Footer Css */
.footer__layout {
  padding-top: 60px;
}

.footer__top-title {
  color: var(--text-black);
}

.footer__top-items {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.footer__top-link {
  text-decoration: none;
  color: var(--text-default);
  font-size: 0.85rem;
}

.footer__bottom {
  padding: 2rem 0;
  border-top: 1px solid var(--text-default);
}

.footer__bottom-text {
  color: var(--text-black);
  font-weight: 300;
}

.footer__payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__payment-method ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.footer__payment-method ul li {
  list-style: none;
  padding-left: 13px;
}

.footer__payment-method ul li img {
  width: 120px;
}

/* Media Query */

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .footer__payment {
    justify-content: flex-start;
  }
}

@media (max-width: 577px) {
}
@media (max-width: 480px) {
}
