/* Google fonts  */
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Poppins:300,400,500,600,700|Roboto+Mono:400,500,700|Roboto+Slab:300,400,700|Roboto:300,400,500,700,900");

/* Common css */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #010225;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373737;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #373737;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* Common class */

.clear {
  clear: both;
}

.section {
  float: left;
  width: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.border-top-1 {
  border-top: 1px solid #e5e5e5;
}

.border__top {
  border-top: 1px solid #282828;
}

a:hover {
  color: #ff5151;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-135 {
  margin-left: 135px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-135 {
  padding-bottom: 135px;
}

.ptb-20 {
  padding: 20px 0;
}

/* Input placeholder */
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input {
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  font-size: 14px;
  color: #737373;
  width: 100%;
}

select {
  width: 100%;
  background: transparent;
  border: 0px solid #eceff8;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #737373;
}

option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px;
}

input:focus {
  background: transparent;
}

textarea {
  resize: vertical;
  background: #eceff8;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  color: #737373;
}

textarea:focus {
  background: transparent;
  border: 2px solid #4fc1f0;
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

#scrollUp {
  width: 50px;
  height: 50px;
  background-color: #ff5151;
  color: #fff;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  z-index: 9811 !important;
}

#scrollUp i {
  display: block;
  line-height: 50px;
  font-size: 22px;
}

#scrollUp:hover i {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.height-100vh {
  height: 100vh;
}

.transparent-bar {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.bg-gray {
  background-color: #f8f8f8;
}

.bg-gray-1 {
  background-color: #ebebeb;
}

.bg-black {
  background-color: #333745;
}

.background__red {
  background-color: #ea2e49;
}

.default-btn a {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  z-index: 1;
}

.default-btn a.btn-color-theme {
  color: #ff5151;
}

.default-btn a.btn-color-theme-bg {
  background-color: #ff5151;
}

.default-btn a.btn-color-white {
  color: #ffffff;
}

.default-btn a.btn-size-md {
  padding: 14px 30px 14px;
}

.default-btn a.btn-style-outline {
  background-color: transparent;
  border: 1px solid #ff5151;
}

.default-btn a.border-radious {
  border-radius: 50px;
}

.btn-hover a {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-hover a:hover {
  border: 1px solid #ff5151;
  color: #fff;
}

.btn-hover a::before,
.btn-hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.btn-hover a::after {
  width: 0;
  left: auto;
  right: 0;
  background: #ff5151;
}

.btn-hover a.black::after {
  background: #373737;
}

.btn-hover a.white-color::after {
  background: #fff;
}

.btn-hover a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.btn-hover.btn-hover-radious a::before,
.btn-hover.btn-hover-radious a::after {
  border-radius: 50px;
}

.btn-hover.hover-border-none a.black::after {
  border-radius: 5px;
}

.btn-hover.hover-border-none a:hover {
  border: none;
}

.section-padding .container-fluid {
  padding: 0 100px;
}

/* Media Query */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .section-padding .container-fluid {
    padding: 0 65px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .section-padding .container-fluid {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding .container-fluid {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding .container-fluid {
    padding: 0 45px;
  }
}

@media only screen and (max-width: 767px) {
  /* Common css */
  .pt-85 {
    padding-top: 45px;
  }

  .pt-80 {
    padding-top: 50px;
  }

  .pt-90 {
    padding-top: 50px;
  }

  .pt-100 {
    padding-top: 50px;
  }

  .pt-120 {
    padding-top: 50px;
  }

  .pb-50 {
    padding-bottom: 20px;
  }

  .pb-70 {
    padding-bottom: 20px;
  }

  .pb-90 {
    padding-bottom: 50px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .pb-135 {
    padding-bottom: 86px;
  }

  /* ScrollUp */
  #scrollUp {
    width: 40px;
    height: 40px;
  }

  #scrollUp i {
    line-height: 40px;
    font-size: 16px;
  }

  .section-padding .container-fluid {
    padding: 0 15px;
  }
}
